/*  _about.sass */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */

#about
  margin-top: 80px

  article
    > h1

      > span
        display: block
        margin-top: 25px
        margin-bottom: 25px
    > p
      margin-left: 75px
      margin-right: 75px
      margin-bottom: 60px


.indented-img
  margin: 60px 10% 30px 10%
  width: 80vw


#sub-01

  > h1 
    margin: 60px 10% 30px 10%

    > span
      display: block
      margin-top: 25px
      margin-bottom: 25px
      margin-left: -8px


#sub-02

  > h1
    margin: -80px 10% 30px 12%


#sub-03

  > h1
    margin: 60px 10% 60px 10%

    > span
      display: block
      margin-top: 25px
      margin-bottom: 25px


#hear-houston
  width: 120px
  height: 120px
  margin-left: 75%
  margin-bottom: -30px
  margin-top: -50px

  svg 
    position: relative
    z-index: 20


#about-slider-01
  +frow(flex, space-between, flex-start, nowrap)
  width: 100vw
  height: 550px
  overflow: scroll


.about-slider-img
  flex: 0 0 100%


  

/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4  */

#about

  article

    > h1
      @extend .font-g-b
      font-size: $font-bx4
      letter-spacing: 0.1em

      > span
        font-size: $font-bx5
        letter-spacing: 0.15em
    
    > p
      font-size: $font-bx2
      line-height: 1.5em
      letter-spacing: 0.07em






