/*  _about.sass */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */

#about
  margin-top: 80px

  article
    > h1

      .fits
        display: block
        margin-top: 10px
        margin-bottom: 15px

    > p
      +marg
      margin-bottom: 60px

      +medium
        margin-left: 40%
        margin-right: 30%

  sup
    vertical-align: text-top
  
  blockquote
    padding-bottom: 80px


#sub-01

  h1
    +marg 
    margin-top: 60px
    margin-bottom: 30px

    +medium
      margin-left: 25%
      margin-top: -39px

    > .fits
      margin-left: -4px


#sub-02

  > h1
    margin: -100px 10% 30px 12%

    +medium
      margin: -463px 30% 30px 39%
      position: relative
      z-index: 60

  > p
      +medium
        margin-left: 46% !important

  #desktop
    display: none

    +medium
      display: block

  #mobile

    +medium
      display: none


#sub-03

  h1
    +marg
    margin-top: 60px
    margin-bottom: 60px

    +medium
      margin-left: 15% !important
      margin-right: 50% !important

  p
    +medium
      margin-left: 50% !important
      margin-right: 20% !important
      margin-top: -100px

    .fits
      display: block
      margin-top: 25px 
      margin-bottom: 25px 


#hear-houston
  width: 120px
  height: 120px
  margin-left: 75%
  margin-bottom: -30px
  margin-top: -50px

  +medium
    margin-bottom: -115px

  svg 
    position: relative
    z-index: 20


#about-slider-01
  +frow(flex, space-between, flex-start, nowrap)
  width: 100vw
  overflow: scroll

  +medium
    +marg
    width: calc(100vw - 20%)

.about-slider-img
  flex: 0 0 100%


#about-slider-nav
  display: none

  +medium
    display: block
    width: 100%

  > button
    width: 200px
    height: 35px
    position: relative

  #prev
    +medium
      top: 500px
      margin-left: 10%
      transform: rotate(-90deg);
      transform-origin: left top 0;

  #next
    +medium
      top: 260px
      margin-left: 90%
      transform: rotate(90deg);
      transform-origin: left top 0;


/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4  */

#about

  article

    > h1
      @extend .font-g-b
      font-size: $font-bx4
      letter-spacing: 0.1em

      > .fits
        font-size: $font-bx4
        letter-spacing: 0.15em
    
    > p
      font-size: $font-bx2
      line-height: 1.5em
      letter-spacing: 0.07em

      +medium
        font-size: $font-sx2
        line-height: 1.8em

  sup
    font-size: $font-small

  .too-long
    font-size: $font-bx1

    +min
      font-size: $font-bx4
      line-height: 0.8em

  blockquote
    background-image: url( "#{$uri}assets/shape-01.svg")
    background-repeat: no-repeat
    background-position: 100px 100px
    background-size: 95% 95%


#about-slider-nav
  > button
    background-color: $site-red
    color: $site-white
    border: none
    text-transform: uppercase
    letter-spacing: .2em

    &:hover
      background-color: $site-black
      color: $site-red
      opacity: 0.9

