/*  _about.sass */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */

#about
  margin-top: 100px

  article
    > h1

      .fits
        display: block
        margin-top: 10px
        margin-bottom: 15px


  sup
    vertical-align: text-top
  
  blockquote
    padding-bottom: 80px
    margin-top: 100px

  .too-long
    display: block


#sub-01

  h1
    +marg 
    margin-top: 60px
    margin-bottom: 30px

    +medium
      margin-left: 25%
      margin-top: -39px

  p 
    +marg
    margin-bottom: 60px

    +medium
      margin-left: 40%
      width: 432px

    > .fits
      margin-left: -4px


#sub-02

  > h1
    margin: -100px 10% 30px 12%

    +medium
      margin: -463px 0 30px 39%
      width: 371px
      position: relative
      z-index: 60

  > p
    +marg
    +medium
      margin-left: 46%
      width: 325px
      position: relative
      z-index: 60

  #desktop
    display: none

    +medium
      display: block

  #mobile

    +medium
      display: none


#sub-03

  > h1
    +marg
    margin-top: 60px
    margin-bottom: 60px

    +medium
      margin-left: 15% 
      margin-right: 50% 

  > p
    +marg
    +medium
      margin-left: 45% 
      margin-top: -100px
      width: 350px

    .fits
      display: block
      margin-top: 25px 
      margin-bottom: 25px 


#hear-houston
  width: 120px
  height: 120px
  margin-left: 75%
  margin-bottom: -30px
  margin-top: -50px

  +medium
    margin-bottom: -115px

  svg 
    position: relative
    z-index: 20


#about-slider-01
  +frow(flex, space-between, flex-start, nowrap)
  width: 100vw
  overflow: scroll

  +medium
    +marg
    width: calc(100vw - 20%)
    height: 550px
    overflow-y: hidden

.about-slider-img
  flex: 0 0 100%

  +medium
    align-self: center


#about-slider-nav
  display: none

  +medium
    display: block
    width: 100%

  > button
    width: 200px
    height: 35px
    position: relative

  #prev
    +medium
      top: 448px
      margin-left: 10%
      transform: rotate(-90deg);
      transform-origin: left top 0;

  #next
    +medium
      top: 216px
      margin-left: 90%
      transform: rotate(90deg);
      transform-origin: left top 0;


/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4  */

#about

  article

    > h1
      @extend .font-g-b
      font-size: $font-bx4
      letter-spacing: 0.1em

      > .fits
        font-size: $font-bx4
        letter-spacing: 0.15em
    
    > p
      font-size: $font-bx1
      line-height: 1.5em
      letter-spacing: 0.07em

      +medium
        font-size: $font-sx2
        line-height: 1.8em

  sup
    font-size: $font-small

  .too-long
    font-size: $font-bx1

    +min
      font-size: $font-bx3
      line-height: 0.8em

  blockquote
    background-image: url( "#{$uri}assets/shape-01.svg")
    background-repeat: no-repeat
    background-position: 100px 100px
    background-size: 95% 95%

    +medium
      background-position: 134px 0
      background-size: 120% 120%


#about-slider-nav

  > button
    @extend .font-g-sb
    background-color: $site-red
    color: $site-white
    border: none
    text-transform: uppercase
    letter-spacing: .2em
    transition: opacity 0.5s

    &:hover
      background-color: $site-black
      opacity: 0.5

