/*  _connect.sass */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */

#connect
  padding-top: 100px
  padding-bottom: 100px

  h1
    +marg
    margin-top: 40px
    margin-bottom: 20px

    +medium
      margin-top: -52px
      margin-left: 25%

  address
    +marg

    +medium
      margin-left: 25%


/* OBJECTS -> For styling objects */ 
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4  */

#connect
  background-image: url('#{$uri}assets/shape-02.png')
  background-repeat: no-repeat
  background-position: -129px 0px
  background-size: 162% auto  

  +medium
    background-position: 221px -20px
    background-size: 82% auto

  h1
    @extend .font-g-b
    font-size: $font-bx4
    letter-spacing: 0.1em

    +min
      font-size: $font-xl

  address
    @extend .font-g-b
    font-size: $font-bx1
    line-height: 2em
    letter-spacing: 0.1em
    text-transform: uppercase

    +min
      font-size: $font-bx2