/*  _head.sass */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */


#head
  color: $site-white
  height: 900px

  header
    height: 35px
    padding-top: 5px

  #head-seal
    width: 75px
    height: 75px
    margin: 250px auto 25px

  > button
    display: block
    margin: 40px auto 0
    padding: 20px 60px

#popup-video
  display: none
  width: 100vw
  height: 860px

#loading
  position: absolute
  top: 0
  right: 0
  width: 100vw
  height: 900px

#close-popup
  position: absolute
  top: 60px
  right: 30px
  svg 
    width: 25px
    height: 25px

/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4  */


#head
  background-image: url( "#{$uri}assets/img-03-mobile.png")
  background-repeat: no-repeat
  background-position: center
  background-size: cover

  > header
    background-color: $site-red

    > p
      color: $site-white
      text-transform: uppercase
      letter-spacing: 0.1em
      text-align: center
      font-size: $font-small

      > span 
        @extend .font-hs-i
        text-transform: initial
        font-size: $font_bx2

  > h1, h2
    text-align: center
    color: $site-white

  > h1
    font-size: $font-bx3
    letter-spacing: 0.3em

  > h2
    font-size: $font-sx1
    letter-spacing: 0.15em

  > button
    @extend .font-g-sb
    letter-spacing: 0.15em
    font-size: $font-sx2
    background-color: transparent
    color: $site-white
    text-transform: uppercase
    border: 4px solid $site-white
    transition: background-color 0.5s, color 0.5s

    &:hover
      background-color: $site-white
      color: $site-black

#loading
  background-color: $site-white