/*  _head.sass */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */


#head
  header
    height: 35px
    padding-top: 5px


/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4  */

#head
  background-image: url("/buffalo-heights-district-dynamic/content/themes/bhdDynamic/assets/img-03-mobile.png")
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  height: 80vh
  
  > header
    background-color: $site-red

    > p
      color: $site-white
      text-transform: uppercase
      letter-spacing: 0.1em
      text-align: center
      font-size: $font-small

      > span 
        @extend .font-hs-i
        text-transform: initial
        font-size: $font_bx2


