/*  _index.sass */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */

blockquote
  > h1
    +marg
    margin-top: 60px
    margin-bottom: 30px

    +medium
      margin-left: 20%
      width: 630px

  > h2
    @extend .font-g-sb
    margin: 30px 40% 30px 10%

    +medium
      margin-left: 26%


.chapter
  margin-left: 10%

  +medium
    margin-left: 15%


.dash
  display: inline-block
  width: 35px
  margin-bottom: 10px


.underbar
    width: 30px
    margin: 10px auto 25px
    position: relative
    z-index: 10


.linkout
  @extend .font-g-sb
  +marg

  > a 
    padding-bottom: 5px


.indented-img
  +marg
  margin-top: 60px
  margin-bottom: 30px
  width: 80vw

  +medium
    position: relative
    margin-left: 15%
    margin-top: -40px
    width: 350px
    z-index: 10

.indents-at-desktop

  +medium
    +marg
    width: calc(100vw - 20%)

.mobile
  display: block

  +medium
    display: none

.desktop
  display: none

  +medium
    display: block
  

/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4  */

blockquote

  > h1
    @extend .font-g-b
    font-size: $font-xl
    letter-spacing: 0.1em
    line-height: 1.2em
    text-indent: -0.55em

    +medium
      font-size: $font-xlx1

  > h2
    font-size: $font-bx1
    letter-spacing: 0.2em
    line-height: 1.5em

    +medium
      font-size: $font-sx2


.chapter
  @extend .font-g-b
  color: $site-red
  font-size: $font-bx3
  letter-spacing: 0.15em


.dash
  border-bottom: 5px solid $site-black


.underbar
  border: 2px solid $site-white


.linkout
  > a
    color: $site-red
    font-size: $font-sx1
    text-transform: uppercase
    letter-spacing: 0.1em
    border-bottom: 8px solid $site-black
    transition: border 0.2s, color 0.5s

    &:hover
      border-bottom: 0
      color: $site-black
