/*  _nav.sass */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */



#nav
  +frow
  height: 65px
  padding-top: 20px
  width: 100%

  +medium
    height: 46px
    padding-top: 10px

  > h1
    margin-left: 30px
    margin-top: 5px

    +min
      margin-top: initial

    +medium
      display: none

  > #hamburger
    width: 50px
    height: 28.25px
    margin-top: 5px
    margin-right: 30px

    +medium
      display: none

.fullmenu

  +medium
    display: block
    flex: 0 0 25%
    padding-top: 5px

  a 

  &:after
    position: relative
    right: 50%
    top: -10px 
    line-height: 0

.menu-link
  position: relative
  top: -26px
  right: 4px

#fullmenu
  display: none

  +medium
    +frow(flex, center, center, wrap)
    width: 550px
    margin-left: auto
    margin-right: auto


.nav-sticky
  position: fixed
  top: 0
  left: 0
  z-index: 80




/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4  */

#nav
  background-color: $site-red

  > h1 
    color: $site-darkred
    font-size: $font-bx1
    opacity: 0.7

    +min
      font-size: $font-bx2

  .menu-bg 
    @extend .font-g-b
    color: $site-red
    font-size: $font-bx4
    text-transform: uppercase
    letter-spacing: 0.2em
    text-align: center

    &:hover
      color: $site-darkred
      opacity: 0.7

  .menu-link
    text-align: center

    > a 
      @extend .font-hs-b
      color: $site-white
      font-size: $font-sx2
      letter-spacing: 0.2em
      text-transform: uppercase







