/*  _press.sass */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */


#press
  margin-top: 200px

  +medium
    margin-top: 250px

  > .chapter
    position: relative
    top: -120px

    +medium
      top: -180px

  > blockquote
    position: relative
    top: -120px
    margin-bottom: 0

    +medium
      top: -190px

    > h1
      +medium
      margin-left: 25%

    > h2
      +medium
      margin-left: 30%
      margin-right: 50%

    > .linkout
      +medium
        margin-left: 30%


#press-section
  +medium
    width: 70vw;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;


.press-box
  position: relative
  margin: 0 auto -8px
  width: 300px
  height: 250px

  +min
    width: 450px


  +medium
    flex: 1 0 30%;
    margin-left: -8px;
    margin-bottom: -8px;


  > h1
    +marg
    margin-top: 10%
    margin-bottom: 25px

    +medium
      margin: 60px 30px 10px 30px

  .linkout
  
    +medium
      margin: 0 30px


#press-img
  margin-top: -80px
  z-index: -1


#sub-03

  > h1
    margin: 60px 10% 60px 10%


/* OBJECTS -> For styling objects */ 
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4  */

#press
  background-image: url('#{$uri}assets/bhd-logo-stamp.svg')
  background-repeat: no-repeat
  background-position: 111px -515px
  background-size: 95% 95%
  background-color: $site-cream

  +medium
    background-position: 562px -145px
    background-size: 70% 70%

  > article

    > h1
      @extend .font-g-b
      font-size: $font-bx4
      letter-spacing: 0.1em


.press-box
  border: 8px solid $site-black

  > h1
    font-size: $font-bx1
    letter-spacing: 0.2em
    line-height: 2em

    +medium
      font-size: $font-sx2


  .linkout
    > a
      +medium
        font-size: $font-sx2
        border-bottom-width: 6px

blockquote

  > h1
    @extend .font-g-b
    font-size: $font-xl
    letter-spacing: 0.1em
    line-height: 1.2em

    +medium
      font-size: $font-xlx1

  > h2
    font-size: $font-bx1
    letter-spacing: 0.2em
    line-height: 1.5em

    +medium
      font-size: $font-sx2
      
  .linkout
    > a
      +medium
        font-size: $font-sx2
        border-bottom-width: 6px
