/*  _press.sass */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */


#press
  position: relative
  margin-top: 200px

  +medium
    margin-top: 250px
 
  > .chapter
    position: relative
    top: -120px

    +medium
      top: -180px

  > blockquote
    position: relative
    top: -110px
    margin-bottom: 0
    z-index: 30

    +medium
      top: -190px

    > h1

      +medium
        margin-left: 25%

    > h2

      +medium
        margin-left: 30%

    > .linkout
    
      +medium
        margin-left: 30%


#press-section
  padding-left: 16px
  +medium
    width: 888px
    // width: 590px
    margin-left: auto
    margin-right: auto
    display: flex
    justify-content: flex-start
    align-items: flex-start
    flex-wrap: wrap


.press-box
  position: relative
  margin: 0 auto -8px
  padding: 8px
  width: 250px
  height: 190px
  z-index: 30


  +min
    width: 450px
    height: 200px

  +medium
    flex: 0 0 287px
    margin-left: -8px
    margin-bottom: -8px
    z-index: 1

  &:before
    content: "  "
    padding-left: 250px
    padding-top: 190px
    position: absolute
    top: -8px
    left: -8px
    z-index: -1

    +min
      padding-left: 450px
      padding-top: 200px

    +medium
      padding-left: 287px
      padding-top: 200px


  &:after
    content: "  "
    padding-right: 260px
    padding-top: 200px
    position: absolute
    top: 10px
    left: 10px
    z-index: -2

    +min
      padding-right: 460px
      padding-top: 210px

    +medium
      padding-right: 297px
      padding-top: 210px



  > h1
    margin: 30px 30px 10px 30px

  .linkout
    margin: 0 30px
  


#press-img
  margin-top: -80px
  z-index: -1

#stamp
  position: absolute
  right: -37%
  top: 466%
  z-index: 0
  width: 110vw
  height: 110vw

  +medium
    right: -8%
    top: 449%
    z-index: 5
    width: 70vw
    height: 70vw


#press-pdf
  margin-top: 15px

// #stamp-overlay
//   position: relative
//   width: 100vw
//   height: 100
//   overflow-x: hidden

//   svg
//     position: absolute
//     top: 50px
//     right: -175px
//     width: 600px
//     height: 600px
//     z-index: 1
//     opacity: 0.5

//     +medium
//       top: 300px
//       right: -200px
//       width: 800px
//       height: 800px
//       opacity: 0.3

/* OBJECTS -> For styling objects */ 
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4  */

#press
  background-image: url('../assets/bhd-logo-stamp.svg')
  background-repeat: no-repeat
  background-position: 111px -295px
  background-size: 125% 125%
  background-color: $site-cream

  +medium
    background-position: 562px -145px
    background-size: 70% 70%

  > article

    > h1
      @extend .font-g-b
      font-size: $font-bx4
      letter-spacing: 0.1em


.press-box
  // border: 8px solid $site-white
  &:before
    border: 8px solid $site-black

  &:after
    background-color: $site-white

  > h1
    font-size: 0.8em
    letter-spacing: 0.2em
    line-height: 2em

    +medium
      font-size: $font-sx2


  .linkout
    > a
      +medium
        font-size: $font-sx1
        border-bottom-width: 6px

blockquote

  > h1
    @extend .font-g-b
    font-size: 2.2em
    letter-spacing: 0.1em
    line-height: 1.2em

    +medium
      font-size: $font-xlx1

  > h2
    font-size: 1em
    letter-spacing: 0.2em
    line-height: 1.5em

    +medium
      font-size: $font-sx2

  .linkout
    > a
      +medium
        font-size: $font-sx1
        border-bottom-width: 6px

#stamp
  opacity: 0.45
