/*  _press.sass */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */


#press
  margin-top: 120px

  > blockquote


.press-box
  position: relative
  margin: 0 auto -8px
  width: 300px
  height: 250px

  > h1
    margin: 10% 10% 25px 10%

#press-section
  margin-top: 120px


#press-img
  margin-top: -80px
  z-index: -1

#sub-03

  > h1
    margin: 60px 10% 60px 10%


/* OBJECTS -> For styling objects */ 
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4  */

#press

  > article

    > h1
      @extend .font-g-b
      font-size: $font-bx4
      letter-spacing: 0.1em


.press-box
  border: 8px solid $site-black

  > h1
    font-size: $font-bx1
    letter-spacing: 0.2em
    line-height: 2em