@import 'reset'

@import 'variables'

@import 'mixins'

/* SITE CONTEXT -> Global styles */

h1
  @extend .font-g-sb
  letter-spacing: 0.15em
  line-height: 1.4em
  text-transform: uppercase

h2


h3


h4
 

p

html 


body
  @extend .font-g-m
  font-size: $font-body
  line-height: 1.4em
  letter-spacing: 0.05em
  color: $site-black

img
  width: 100%


/* BROWSER DETECTION  */

=browser($browsers: Mozilla)
  @each $browser in $browsers
    html[data-browser*="#{$browser}"] &
      @content


@import 'index'

@import 'head'

@import 'nav'

@import 'about'

@import 'press'

@import 'info'

@import 'connect'

@import 'foot'
